@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");
/* GOOGLE FONT
  폰트는 맨 위 최상단에 넣어야 함
*/

@tailwind base;
@tailwind components;
@tailwind utilities;
/**
    해당 지시어는 무시해도 무방함
    2024.01.07 LJM
**/

.custom-dots {
  position: absolute;
  bottom: 24px;
  display: flex;
  gap: 10px;
}

.custom-dot {
  width: 24px; /* dot 너비 */
  height: 5px; /* dot 높이 */
  background-color: #e9e9e9; /* 기본 색상 */
}

.slick-active .custom-dot {
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}

.truncate-3-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(30%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.color-facebook {
  background-color: #425a95;
  color: white;
}

.color-naver {
  background-color: #5bb134;
  color: white;
}

.color-kakao {
  background-color: #fade4b;
  color: #3a1d1d;
}

.select-without-arrow {
  -webkit-appearance: none; /* Chrome, Safari, Opera */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* 표준 속성 */
}
